html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    font-family: 'Zen Kurenaido', Arial, Helvetica, sans-serif;
}

img {
	display: block;
	max-width: 100%;
}

.container {
    max-width: 800px;
}

.header {
    margin-top: 5rem;
    text-align: center;
}

.about {
    margin-top: 4rem;
    margin-bottom: 4rem;
    text-align: center;
}

.projects {
    margin-top: 4rem;
    margin-bottom: 4rem;
    text-align: center;
}