html {
    box-sizing: border-box;
    background-image: url(ghost.png);
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: rgba(0, 0, 0, 0.716);
    color: whitesmoke;
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    
}

img {
	display: block;
	max-width: 100%;
}

p {
    font-size: large;
}

ul {
    display: flex;
    justify-content: space-evenly;
    font-size: large;
}


.button {
    color: whitesmoke;
    font-family: 'Zen Kurenaido', "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 1rem;  
}

.container {
    max-width: 800px;
    margin-bottom: 5rem;
}

.header {
    margin-top: 5rem;
    text-align: center;
}

.about {
    margin-top: 4rem;
    margin-bottom: 4rem;
    text-align: center;
}

.projects {
    margin-top: 4rem;
    margin-bottom: 4rem;
    text-align: center;
}

.contact {
    margin-top: 4rem;
    margin-bottom: 4rem;
    text-align: center;
}

.footer {
    margin-top: 10rem;
    text-align: center;
}



#code  {
    font-size: x-large;
}

#linkedin:hover span {
    display: none;
}

#linkedin:hover::before {
    content: "Open to Work";
}

