html {
    box-sizing: border-box;
    
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: rgba(0, 0, 0, 0.716);
    color: whitesmoke;
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    
}

img {
	display: block;
	max-width: 100%;
}

.button {
    color: whitesmoke;
}

.container {
    max-width: 800px;
}

.header {
    margin-top: 5rem;
    text-align: center;
}

.about {
    margin-top: 4rem;
    margin-bottom: 4rem;
    text-align: center;
}

.projects {
    margin-top: 4rem;
    margin-bottom: 4rem;
    text-align: center;
}

.contact {
    margin-top: 4rem;
    margin-bottom: 4rem;
    text-align: center;
}

#code, #audio  {
    font-size: x-large;
}

