@font-face {
    font-family: 'Geo-Reg';
    src: url(../fonts/Geo-Regular.ttf);
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
}


body {
    margin: 2rem;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-box img {
    max-height: 200px;
    border-radius: 20%;
    margin-top: 25px;
}

#title {
    margin-top: -3rem;
    font-family: 'Geo-Reg', Arial, Helvetica, sans-serif;
    font-weight: 100;
}

#contact-links {
    display: flex;
    gap: 2rem;
}

.links {
    max-width: 64px;
}

#contact-links h3 {
    font-family: 'Geo-Reg';
    font-weight: 100;
    text-align: center;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#about-me {
    width: 300px;
}

#type-text {
    text-align: justify;
    animation: typing 4s steps(40, end), blink-caret 1s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}